body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #2d006e, #5a189a, #00b4d8);
  color: #ffffff;
  scroll-behavior: smooth;
}

/* MENU */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background: rgba(20, 0, 40, 0.7);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav h2 {
  color: #00d9ff;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: 0.3s;
}

nav a:hover {
  color: #00d9ff;
}

nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #00d9ff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* HEADER */
header h1 {
  text-align: center;
  font-size: 48px;
  margin: 30px 0;
  background: linear-gradient(90deg, #c77dff, #00d9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SECTION */
section {
  margin: 30px;
  padding: 25px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 217, 255, 0.3);
  transition: 0.3s;
}

section:hover {
  box-shadow: 0 0 25px rgba(0, 217, 255, 0.3);
}

/* HERO */
.hero {
  text-align: center;
  font-size: 22px;
}

/* GRID */
.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.grid img {
  width: 210px;
  height: 210px;
  border-radius: 18px;
  object-fit: cover;
  transition: 0.4s;
  box-shadow: 0 0 15px rgba(0, 217, 255, 0.2);
}

.grid img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #00d9ff;
}

/* STAT */
.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.box {
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  background: rgba(0,0,0,0.4);
  border: 1px solid #00d9ff;
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #00d9ff;
}

/* KITOB */
#books a {
  color: #00d9ff;
  text-decoration: none;
}

#books a:hover {
  text-decoration: underline;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  background: linear-gradient(45deg, #7209b7, #00d9ff);
  border-radius: 12px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #00d9ff;
}
