body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle at top, #14002b, #000000);
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #000;
}

/* GRID */
.grid {
  display: flex;
  gap: 20px;
}

.grid img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

/* FORM */
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

/* BUTTON */
button {
  padding: 10px;
  background: purple;
  color: white;
  border: none;
}

/* LIGHT MODE */
.light {
  background: white;
  color: black;
}
