body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #3a0ca3, #7209b7);
  color: white;
  scroll-behavior: smooth;
}

/* MENU */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0,0,0,0.7);
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #c77dff;
}

/* HEADER */
header h1 {
  text-align: center;
  font-size: 45px;
  animation: fadeIn 2s ease;
}

/* SECTION */
section {
  margin: 30px;
  padding: 25px;
  border: 2px solid #c77dff;
  border-radius: 15px;
  background: rgba(0,0,0,0.4);
  animation: fadeUp 1s ease;
}

/* GRID */
.grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.grid img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  transition: 0.4s;
}

.grid img:hover {
  transform: scale(1.1) rotate(2deg);
}

/* STAT */
.stats {
  display: flex;
  justify-content: space-around;
}

.box {
  padding: 20px;
  border: 2px solid #c77dff;
  border-radius: 10px;
  font-size: 20px;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  background: #7209b7;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: #560bad;
}

/* ANIMATION */
@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes fadeUp {
  from {opacity:0; transform: translateY(30px);}
  to {opacity:1; transform: translateY(0);}
}
